<app-header></app-header>
<figure id="home">
  <div id="global">
    <div id="divCrossPlotRiskCurve">
      <mat-card class="mat-elevation-z3">
        <mat-card-title>
          Scatterplot
        </mat-card-title>

        <mat-card-content>
          <div id="scatterplots">

          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z3">
        <mat-card-title>
          Risk Curve
        </mat-card-title>

        <mat-card-content>
          <div id="riskCurves">

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div id="buttonsBarChart">
      <button (click)="clearSelection()" mat-raised-button>
        <mat-icon>brush</mat-icon>
        Clear Selection
      </button>

      <mat-card class="mat-elevation-z3">
        <mat-card-actions align="end">
          <a mat-icon-button (click)="openBarChartNewWindow()">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </mat-card-actions>
        <mat-card-content>
          <div id="barChart">

          </div>
        </mat-card-content>
        <mat-card-footer>
          <div>
            <h3 class="borders">
              Sum: {{totalSum}}
            </h3>
          </div>
        </mat-card-footer>

        <mat-card-footer>
          <div>
            <h3>
              Pen: {{pen}}
            </h3>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</figure>