<app-header></app-header>
<figure id="home">
  <div>
    <mat-card class="mat-elevation-z3">
      <mat-card-title>
        Solution 1
      </mat-card-title>
    </mat-card>

    <button mat-raised-button class="solutionButtons">
      <mat-icon>arrow_back</mat-icon>
      Previous Solution
    </button>

    <button mat-raised-button class="solutionButtons">
      Next Solution
      <mat-icon>navigate_next</mat-icon>
    </button>

    <button (click)="clearSelection()" mat-raised-button class="solutionButtons">
      <!-- <mat-icon>brush</mat-icon> -->
      Clear Selection
    </button>
  </div>

  <div id="charts">
    <div id="divCrossPlotRiskCurve">
      <mat-card class="mat-elevation-z3">
        <mat-card-title>
          Scatterplot
        </mat-card-title>

        <mat-card-content>
          <div id="scatterplots">

          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z3">
        <mat-card-title>
          Risk Curve
        </mat-card-title>

        <mat-card-content>
          <div id="riskCurves">

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div id="buttonsBarChart">
      <mat-card class="mat-elevation-z3">
        <mat-card-actions align="end">
          <a mat-icon-button (click)="openBarChartNewWindow()">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </mat-card-actions>
        <mat-card-content>
          <div id="barChart">

          </div>
        </mat-card-content>
        <mat-card-footer>
          <div>
            <h3 class="borders">
              Sum: {{totalSum}}
            </h3>
          </div>
        </mat-card-footer>

        <mat-card-footer>
          <div>
            <h3>
              Pen: {{pen}}
            </h3>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</figure>